.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.LogIn_Container {
    width: 300px;
    margin: 20px auto;
    align-content: center;
}