
.code-box-demo {
  text-align: center;
}
.ant-layout{
    margin-left: -14px;
    margin-right: -14px;
    background:white;
}
.ant-layout-header{
    margin-top: -20px;
    min-height:15vh;
    color:black;
    background: white;
    height: 10vh;
    text-align: center;
    font-size: 40px;
    font-family:Times New Roman;
}
.ant-layout-footer {
    text-align: center;
    background:white;
    color: #fff;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-content {
    margin-top: -10px;
    background: #990000;
  color: #000;
  min-height: 120px;
  line-height: 120px;
}
.ant-layout-content{
  background:white;
  color: black;
}
> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 75vh;
  line-height: 160px;
  background: white;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.WelcomePicContainer{
    margin:auto;
    width:95%;
    height:500px;
    mode:'fit' ;
}
