.lessonAdminManagement {
    margin: 0 auto;
    width: 65%;
}

.lessonAdminCard {
    margin: 5px 0;
}

.lessonAdminTitle {
    background: white;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px dashed lightgrey;
}

/* Lesson Edit Page */

.lesson-edit-form {
    margin: 0 auto;
    width: 65%;
}