.tutorManagement {
    margin: 0 auto;
    width: 65%;
}

.tutorAdminCard {
    margin: 5px 0;
}

.tutorAdminName {
    background: white;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px dashed lightgrey;
}

.tutorAdminBio {
    text-align: left;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 5px;
}

/* Tutor Edit Page */

.tutor-edit-form {
    margin: 0 auto;
    width: 60%;
}
